*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    height:30px;
    top:0;
    left:0;
    width:100%;
    background-color: #2f3335;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

#isro-logo{
    height: 30px;
    width : 30px;
    margin-right:25px;
    margin-left:5px;
}

.nav-links a{
    border:1px solid grey;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight:lighter;
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin-left:25px;
    padding: 3px;
    border-radius: 5px;
}

.nav-links a:hover{
    background-color: rgb(226, 227, 228);
    color:rgb(61, 58, 58);
}

.container{
    width:1080px;
    min-height: 1080px;
    background: rgb(225, 225, 228);
    margin:0 auto;
    margin-top: 30px;
    padding: 5px;
}

.jt-container img{
    width:100%;
    border-radius:5px;
}

.content{
    /* background-color:#2f3335; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 960px;
}

.main-content{
    flex-basis: 65%;
}

.aside{
    flex-basis: 30%;
    background-color: #87969e;
    border-radius: 5px;
    color:white;
}

.aside h2{
    text-align: center;
    background-color:rgb(56, 52, 52);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: lighter;
}

.aside ul{
    list-style: none;
    padding:10px;
}

.list-updates li{
    margin-bottom: 5px;
    font-size: 0.8rem;
    padding:3px;
    border-radius: 5px;
}
.list-updates li:nth-child(odd){
    background-color: #455a5a;
}

.list-updates li:nth-child(even){
    background-color: #414444;
}

