*{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100%;
}

nav{
    position: fixed;
    height:30px;
    top:0;
    left:0;
    width:100%;
    background-color: #2f3335;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

#isro-logo{
    height: 30px;
    width : 30px;
    margin-right:25px;
    margin-left:5px;
}

.nav-links a{
    border:1px solid grey;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight:lighter;
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin-left:25px;
    padding: 3px;
    border-radius: 5px;
}

.nav-links a:hover{
    background-color: rgb(226, 227, 228);
    color:rgb(61, 58, 58);
}

.container{
    width:1080px;
    /* min-height: 1280px; */
    /* background: rgb(225, 225, 228); */
    margin:0 auto;
    margin-top: 30px;
    padding: 5px;
    height:100%;
    /* overflow: scroll; */
    /* border:1px solid black; */
}

.jt-container a img{
    width:100%;
    border-radius:5px;
    height:250px;
    box-shadow: 0px 3px 5px rgb(190, 188, 188);

}

.content{
    /* background-color:#2f3335; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    /* height: 960px; */
    margin-top: 25px;
    padding:5px;
}

.main-content{
    flex-basis: 65%;
}

.aside{
    flex-basis: 30%;
    background-color: #87969e;
    border-radius: 5px;
    color:white;
    max-height: 500px;
    box-shadow: 0px 3px 5px rgb(190, 188, 188);

}

.aside h2{
    text-align: center;
    background-color:rgb(56, 52, 52);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: lighter;
}

.aside ul{
    list-style: none;
    padding:10px;
}

.list-updates li{
    margin-bottom: 7px;
    font-size: 0.8rem;
    padding:3px;
    border-radius: 5px;
}

.list-updates li a{
    color:rgb(233, 231, 231);
    text-decoration: none;
}

.list-updates li:hover{
    box-shadow: 0px 3px 5px rgb(43, 55, 59);
}

.list-updates li:nth-child(odd){
    background-color: #455a5a;
}

.list-updates li:nth-child(even){
    background-color: #414444;
}

.main-content > div{
    width: 100%;
    /* border:1px solid rgb(95, 95, 99); */
    margin-bottom: 25px;
    height:185px;
    border-radius: 5px;
    overflow: hidden;
}

.main-content > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    background-color: rgb(225, 225, 228);
    box-shadow: 0px 3px 5px rgb(190, 188, 188);
}

.main-content > div h2{
    flex-basis: 100%;
    font-weight: lighter;
    background: #2f3335;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color:white;
    height:25px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 15px;
    font-size: 0.95rem;
    margin-bottom:15px;
}

.main-content div a{
    display: inline-block;
    height:130px;
    width:130px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.main-content div a p{
    width:100%;
    background-color:grey;
}

.main-content div a:hover{
   box-shadow: 0px 3px 5px grey;
}

.missions a{
    background-image: url("../images/mission-thumbnail.jpg") ;
    background-size: cover;
}

.spacecrafts a{
    background-image: url("../images/spacecraft-thumbnail.jpg") ;
    background-size: cover;

}

.spacecrafts a:nth-child(even){
    background-image: url("../images/spacecraft-thumbnail2.jpg") ;
    background-size: cover;

}

.launchers a:nth-child(even){
    background-image: url("../images/isro-launcher.jpg") ;
    background-size: cover;
}

.launchers a{
    background-image: url("../images/isro-launcher2.png");
    background-size: cover;
}

.applications a{
    background-image: url("../images/chrome_gLGFMymsCT.png");
    background-size: cover;
}

.applications a:nth-child(even){
    background-image: url("../images/chrome_JBHtPZSS17.png");
    background-size: contain;
}

.media a:nth-child(even){
    background-image: url("../images/isro-media.jpg");
    background-size: cover;
}

.media a{
    background-image: url("../images/isro-media2.jpeg");
    background-size: cover;
}

.job a{
    background-image: url("../images/isro-jobs.jpg");
    background-size: cover;
}

footer{
    /* display: absolute; */
    width:100%;
    font-weight:lighter;
    bottom:0;
    background-color: #2f3335;
    color:white;
    font-size:0.7rem;
    padding:10px 25px;
}

footer p{
    font-weight:bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

footer li{
    list-style-type: none;
    padding-left:10px;
}

footer ul{
    margin-bottom: 5px;
}

.see-all{
    flex-basis: 9%;
    background-image: url('../images/arrow.png') !important;
    background-size: 40% !important;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: #5c89a0 !important;
    padding-bottom: 2px;
    color:rgb(238, 234, 234) !important;
    font-size: 0.9rem !important;
}

#forward{
    z-index: 99;
    position: absolute;
    top:150px;
    right:250px;
    padding:5px;
    color:white;
    background-color:rgba(255, 255, 255, 0.315);
}

#backward{
    z-index: 99;
    position: absolute;
    top:150px;
    left:250px;
    padding:5px;
    color:white;
    background-color:rgba(255, 255, 255, 0.315);
}

#forward:active{
    background-color: rgba(128, 128, 128, 0.603);
}

#backward:active{
    background-color: rgba(128, 128, 128, 0.603);
}